*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

.container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 60px 0;
    overflow: hidden;
    
}

.container-header{
    width: 100%;
    height: 100vh;
    background-image: url("../img/architecture-blue-sky-buildings-city-409127.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}



.texto-header{
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    margin-top: 7em;
}

.texto-header h1{
    font-size: 60px;
}

.texto-header p{
    font-size: 28px;
    font-weight: 500;
    margin-top: 20px;
}

.enlaces{
    width: 100%;
    height: 50px;
    text-align: right;
    display: inline-block;
    margin-top: 20px;

}

.enlaces a{
    color: #fff;
    text-decoration: none;    
    font-size: 20px;
    margin-left: 10px;
}

.weve{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

@media (max-width:600px){
    .texto-header h1{
        font-size: 50px;
    }
}

/* section1 */

.section1{
    width: 100%;
    height: 100%;
    background-color: #c4c2c2;
    /* background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%); */
}

.texto-section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto-section1 h2{
    font-size: 40px;
}

.texto-section1 p{
    font-size: 30px;
    font-weight: 300;
    margin-top: 30px;
    line-height: 40px;
}

